*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: rgb(64, 135, 201); */
    height: 400vh;
    z-index: 1;
}

.header{
    /* border: 1px solid pink; */
    width: 100%;
    height: 550px;
}

/* ///////////////////////박성진 header logo&login START////////////////////// */

.headerTop{
    display: flex;
    justify-content: center;
    position: relative;
}

.headerTop .logoFrame {
    display: flex;
    justify-content: center;
}

.headerTop .loginIcon{
    display: flex;
    text-align: right;
    /* background-color: red; */
    position: absolute;
    right: 0;
    top: 15px;
}

.loginIcon .fa-user{
    font-size: 1.9rem;
    padding: 5px;
}

.loginModal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* display: none; */
    z-index: 5000;
    flex-direction: column;
    overflow: hidden;
}

.loginModal .fa-xmark{
    font-size: 2rem;
    transform: translate(180px,10px);
    opacity: 0.8;
    color: white;
}

.loginModal .lgModal{
    width: 400px;
    height: 550px;
    border-radius: 10px;
    background-color: rgb(64, 135, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.loginModal .loadingBook{
    position: fixed;
    opacity: 0;
    transition: 0.3s;
    width: 200px;
}

.loginModal .modalTitle{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
    /* background-color: brown; */
    color: white;
}

.loginModal .inputBox{
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox .fa-user, .inputBox .fa-lock{
    font-size: 2rem;
    transform: translate(0,5px);
    color: white;
}

.inputBox input{
    width: 230px;
    height: 40px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
}

.inputBox input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.userName, .passwd{
    margin: 10px;
}

.inputBox{
    background-color: transparent;
}

.modalBtn{
    background-color: white;
}

.inputBox .modalBtn{
    width: 85%;
    padding: 5px;
    font-size: 2.4rem;
    margin-top: 40px;
    color: rgb(64, 135, 201);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modalCheckBox{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#signUp{
    margin-top: 15px;
    font-size: 1.2rem;
    color: rgb(64, 135, 201);
    padding: 5px;
    transform: translate(0,-5px);
    cursor: pointer;
}

#signUp a:hover{
    font-weight: bold;
}


.modalCheckBox .check{
    margin: 10px 60px;
    text-align: center;
    display: inline-block;
}


#logo{
    width: 150px;
    text-align: left;
}

.loginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    width: 1px;
    height: 1px;
    /* width: 500px;
    height: 800px; */
    background-color:rgb(64, 135, 201);
}

.loginFormTitle{
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.loginForm .loginFormContent{
    opacity: 0;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: coral; */
}

.loginFormContent input{
    width: 100%;
    border: none;
    margin: 5px 0;
    padding: 20px 10px;    
    border-radius: 1px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
    font-size: 1.2rem;
    outline: none;
}

.loginFormContent input::placeholder{
    font-size: 1.1rem;
}

.loginFormContent .legYear{
    width: 128px;
    margin-right: 20px;
}

.loginFormContent .legMonth{
    padding: 19px;
    width: 90px;
    margin-right: 20px;
    border-radius: 1px;
    border: none;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
}
.loginFormContent .legDay{
    width: 128px;
}

.loginFormContent .legAddress{
    width: 300px;
}

.loginFormContent .addressBtn{
    width: 115px;
    height: 60px;
    border: none;
    border-radius: 1px;
    background-color: #1E90FF;
    color: white;
}

.legBtn{
    border: none;
    width: 100%;
    height: 80px;
    font-size: 1.3rem;
    background-color: #1E90FF;
    color: white;
    border-radius: 2px;
}


.loginForm.active{ width: 550px; height: 800px; transition: 1.5s;}
.lgModal.active{animation: loginFormActive 0.5s ease forwards;}
.modalBtn.active{animation: loginFormActive 0.5s ease forwards;}
.signUpActive{opacity: 0; transition: 0.5s;}
.loadingBook .active{display: block;}
.loadingBook .inactive{display: none;}

@keyframes loginFormActive {
    form{

    }
    to{
        background-color: white;
        color: white;
    }
}


/* ///////////////////////박성진 header logo&login END ////////////////////// */

/* /////////////////////수근/////////////////////////// */
.newBook {
    width: 80%;
    height: 500px;
    margin-top: 50px;
    position: relative;
    background-color:white;
}
li {
    list-style: none;
}
.newBook_title {
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: rgb(117, 117, 118);
}
.newBook_title:hover {
    color: black;
}
.newBook_slide_wrapper {
    position: relative;
    width: 1500px;
    overflow: hidden;
    height: 500px;
    margin: 50px auto;
}
.newBook_slides {
    position: relative;
    left: 0; top: 0;

}
.newBook_slides.animated {
    transition: 1s ease-out;

}
.newBook_slides li{
    width: 250px;
    height: 500px;
    float: left;
}
.newBook_slides li:not(:last-child) {
    margin-right: 50px;
}
.newBook_slides li .img_box {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    position: relative;
    overflow: hidden;
}
.newBook_slides li .img_box > span {
    text-align: center;
    color: black;
    padding-top: 10px;
    font-weight: 600;
}
.newBook_slides li img {
    width: 150px;
}
.newBook_slides li img:hover {
    opacity: 0.5;
}
@media (max-width: 1800px) {
    .newBook_slide_wrapper {
        width: 100%;
    }
  }

/* .newBook_controls span {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}
.newBook_controls span:hover {
    background-color: rgb(98, 96, 96);
    transition: ease-out 0.35s;
}
.prev {
    left: 0px;
}

.next {
    right: 0px;
} */
/* ///////////////////////수근 끝/////////////////////////////////////// */
.genreBook{
    border: 1px solid black;
    width: 100%;
    height: 800px; 
}
/* //////////////////////////////////양희 시작///////////////////////////////////// */
.reviewBook{
    /* border: 1px solid green; */
    background-color: white;
    width: 100%;
    height: 800px;
}
.reviewtitle{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #1E90FF;
    font-size: 1.5rem;
    margin: 8px 0;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5vh;
}
.reviewtitle::before{
    content: "";
    flex-grow: 1;
    margin: 0 16px;
    background: #1E90FF;
    height: 2px;
}
.reviewtitle::after{
    content: "";
    flex-grow: 1;
    margin: 0 16px;
    background: #1E90FF;
    height: 2px;
}
/* ----------캐러셀------------- */
.reviewcarousel{
    width: 90%;
    height: 40%;
    overflow: hidden;
    transform: translate(4.5vw,0);
    z-index: 10;
    position: relative;
    /* border: 1px solid black; */
}
.reviewboxs{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    border: 1px solid red;
}

.reviewboxs.animatedY{
    transition: .5s ease-out;
}
.reviewbox{
    /* width: 13vw; */
    width: 250px;
    height: 85%;
    /* margin-right: 1vw; */
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 2px gray;
}
.reviewbox:hover .topimg img{
    opacity: 0.5;
}
.reviewbox .topimg{
    height: 80%;
}
.topimg img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    transition: .3s;
    cursor: pointer;
}
.bottomtext{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottomtext i{
    font-size: 1.5rem;
    cursor: pointer;
}
.bottomtext span{
    font-weight: bold;
    color: #333;
}
.lefttext{
    margin-left: 10px;
}

.righttext{
    margin-right: 10px;
    margin-top: 3px;
}
.righttext .uil-heart{
    color: red;
}
/* -------화살표---------- */
.arrowsY{
    display: flex;
    justify-content: space-between;
}
#arrowleft{
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    bottom: 19vh;
}
#arrowright{
    font-size: 2rem;
    cursor: pointer;   
    position: relative;
    bottom: 19vh;
}

/* //////////////////////////////양희 끝/////////////////////////////////// */


/* /////////////////박성진 - footer START /////////////////////////////////// */

.footer{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    width: 100%;
    height: 100px;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(15, 15, 155, 0.377);
}

.footer .icons .iconFrame{
    width: 50px;
    height: 50px;
    background-color: rgb(30, 83, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
    flex-direction: column;
}

.iconFrame .ficon {
    font-size: 1.5rem;
    filter: invert();
}
.footerScroll{
    /* background-color: red; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerScroll ul li{
    display: inline-block;
    margin: 10px;
    opacity: 0.7;
    font-size: 1.1rem;
}

/* /////////////////박성진 - footer END /////////////////////////////////// */

/* /////////////////박성진 - loading START /////////////////////////////////// */

.loadingImg{
    background-color: rgb(175, 215, 233);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.loadingImg.fadeOut{
    display: none;
}

/* /////////////////박성진 - loading END /////////////////////////////////// */


/* ///////////////////////백진주 영역 시작--------------------------------------------------- */
/* 장르별 도서 */
.gb_mtit{
    font-size: 2.5rem;
    padding: 20px 0px;
    text-align: center;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #1E90FF;
    margin: 8px 0;
}
.gb_mtit::before{
    content: "";
    flex-grow: 1;
    margin: 0 16px;
    background: #1E90FF;
    height: 2px;
}
.gb_mtit::after{
    content: "";
    flex-grow: 1;
    margin: 0 16px;
    height: 2px;
    background: #1E90FF;
}
.gb_cont{
    display: flex;
    justify-content: center; 
    
}
.gb_cont ul{
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;   
}

.gb_item {
    display: inline-block;    
    text-align: center;
}
.gb_box{
    position: relative;
    width: 600px;
    height: 230px;
    margin: 10px 10px;
}
.gb_thumb{
    width: 100%;
    position: relative;    
}
.gb_thumb_cont{
    position: absolute;
    top:0;   
}
.gb_thumb_title{
    position: absolute;
    width: 180px;
    height: 230px;
    top:0px;
    background-color: rgb(27, 27, 27);
    opacity: 0.5;
    z-index: 1;       
}
.gb_thumb_title_txt{
    position: absolute;
    top: 0px;
    padding: 0px 10px;
    z-index: 5;
}
.gb_genre{
    width: 160px;
    font-weight: 600;
    padding: 10px 5px;
    z-index: 5;
    color: yellow;        
}

.gb_thumb_title_txt span{
    display: block;
    width: 130px;
    font-size: 1.2rem;
    text-align: left;
    padding: 5px;
    color: white;
    z-index: 2;     
}

.gb_tagList{
    position: absolute;
    width: 250px;
    height: 40px;
    bottom: 10px;
    right: 20px;    
    text-align: right;
}
.gb_tagList_txt{
    font-size:1.2rem;
    color:white;
    text-shadow: 0 0 5px rgb(70, 70, 70);
    overflow:hidden;
    white-space:nowrap;
    animation: typing 10s steps(27) forwards, 
                blink .8s step-end infinite;
    animation-iteration-count: infinite;
}
@keyframes blink{
    from, to{
        border-color:transparent;
    }
    50%{
        border-color:white;
    }
}
@keyframes typing{
    0%{
        width:0%;
    }
    30%{
        width:100%
    }
    80%{
        width:100%
    }
    90%{
        width:0%
    }
    100%{
        width:0%
    }
}

/* 장르별 도서 새페이지영역*/

.genre_mid_slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;    
    /* background-color: blueviolet; */
    overflow: scroll;
    background-color: aqua;
    margin-top: 20px;
}

/* .genre_mid_slide::-webkit-scrollbar {
    display: none; Chrome, Safari, Opera
} */
.genre_mid_slide_box{
    text-align: center;
    width: 200px;
    height: 250px;
    margin: 10px;
    border: 3px solid rgb(75, 75, 75);
    position: relative;
    
}
.genre_thumb{
    position: absolute;
    top:0;
    left:0;    
}

.genre_thumb img{
    width:194px;
    height:150px;
}
.genre_doc_box{
    position: absolute;
    top:160px;

}
/* ///////////////////////백진주 영역 끝--------------------------------------------------- */

/* //////이상호////////////////////////////////////////////////// */
a{
    text-decoration: none;
}
.nav{
    /* 네비바 영역시작 */
    height: 80px;
    width: 100%
}
.nav-bar{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
}
.nav-bar-fixed{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 150;
    top: 0;
    padding: 20px;
    background-color: white;

}
.nav-bar > span{
    padding: 10px;
    margin: 0 30px;
    cursor: pointer;
}
.nav-bar-fixed > span{
    padding: 10px;
    margin:  0 30px;
    cursor: pointer;
}
.nav-bar-dropdown{
    /* 네비바 드롭다운 */
    display: flex;
    justify-content: center;
    display: none;
    position: absolute;
    top: 75px;
    width: 100%; 
    z-index: 200;
    background-color: #F2F7F9;
}
.nav-bar-dropdown > div{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-dropdown > div> a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 10px 20px;
}
.nav-bar-dropdown > div> a > img{ 
    width: 120px;
    border-radius: 5px;
}
.nav-bar-dropdown > div > a > span{
    color: white;
    position: relative;
    right: 10px;
    bottom: 180px;
    font-weight: 700;
    font-size: 1.2rem;
}
.nav-bar > span:nth-child(3):hover ~ .nav-bar-dropdown{
    display: flex;
}

.nav-bar-modal{
    position: absolute;
    width: 100%;
    top: 325px;
    height: 100px;
    background-color: rgba(153,153,153, 0.3);
    display: none;
    z-index: 200;

}
.nav-bar > span:nth-child(3):hover ~ .nav-bar-modal{
    display: block;
    

}
.bestSeller{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F7F9;
    height: 345px;
    width: 100%;
    position: relative;
}
.bestSeller-sell-move{
    display: flex;
    justify-content: center;
}
.slideItem{
    /* position: absolute;
    top: 0;
    left: 0; */

}
.slideItem > img{
    width: 1445px;
    height: 348px;


}
.bestSeller-book{
    width: 210px;
    position: relative;
    margin-top: 160px;
    transform: translate(190px);

}
.bestSeller-book-warp{
    overflow: hidden;
}
.bestSeller-book-move{
    display: flex;
    
}
.bestSeller-book > div > div > div > img{
    width: 210px;
}

.bestSeller-book-modal{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    background-color: rgba(153,153,153, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

}

.bestSeller-book-modal > p{
    font-size: 1.5rem;
}

.bestSeller-book > div:hover ~ .bestSeller-book-modal{
    display: flex;
}


.bestSeller-book > div:nth-child(2) > img
,.bestSeller-book > div:nth-child(3) > img{
    display: none;
}

/* ///////////////////////////////////이상호//////////////////////////////// */

